local-addr: localhost:1081 # 监听地址
upstreams:
  - name: default          # 上游名称
    host: default.site     # 上游地址
    port: 443              # 上游端口
    basic-auth: YXJsb2xxxxxxxxxxxxxvb3I= # "user:passwd" base64编码后的结果
  - name: other
    host: other.site
    port: 443
    basic-auth: YXJsb2xxxxxxxxxxxxxvb3I=
rules:
  - rule-type: IP-CIDR         # 根据子网来路由
    value: 91.105.192.0/23
    upstream-Name: other       # 使用名为other的upstream
  - rule-type: DOMAIN-SUFFIX   # 根据域名来路由
    value: arloor.com
    upstream-Name: direct      # 使用名为direct的upstream，因为没有名为direct的upstream，所以效果是直连目标地址
  - rule-type: MATCH           # MATCH表示上述规则都比匹配后的默认路由。MATCH一定要放最后
    upstream-Name: default      # 使用名为default的upstream