upstream-alias:
  default: proxyA
  final: direct
upstreams:
  - name: proxyA
    host: xx.xx.xx.xx
    port: 443
    basic-auth: cHVibGljOnBhc3N3ZA==
gfw-text: E:\GoLandProjects\go-forward\gfwlist.txt
local-addr: localhost:1080